################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/scr/MyLeetCodePratice/Label_Array/obj
/scr/MyLeetCodePratice/Label_Array/bin/Debug/netcoreapp3.1
/scr/MyLeetCodePratice/.vs/MyLeetCodePratice
/.vs
